<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static' , filename='book_favicon.ico')}}">
    <title>搜书阁</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='css.css')}}">
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.11.3.min.js"></script>
</head>

<body id="main">
    <div class="page-header">
        <h1><b><a href="/">搜书阁</a></b><small>&nbsp;&nbsp;&nbsp;&nbsp;人面桃花  温玉软香  是谁在意  悠悠书香 ...</small></h1>
    </div>

    <div style="margin:0 auto ; width: 65% ">
    <div class="jumbotron">
  <h1 align="right">404 &nbsp;&nbsp;&nbsp;</h1>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这个应用没这么多页面...</p>
</div>

    
    <div id="foot">
        <span class="glyphicon glyphicon-book">&nbsp;白驹过隙 一枕黄粱</span>
    </div>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
